/* p{
    color:blue
}

h4{
    color:green;
    background-color:yellow
}

body{
    background-color:pink
}

#myButton{
    background-color:red
}


.box{
    height: 100px;
    width: 100px;
    border:2px solid black;
    margin:10px;
    text-align: center;
    background-color: lime;
}

.container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    gap: 10px;
    background-color: lightgrey;
} */

.para{
    background-color :beige;
    color: brown;
    font-size: 120px;
}

.new-para{
    background-color :greenyellow;
    }